@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

/* ul {
    list-style: none;
} */

body,
nav,
figure,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
}

/* HEADER */

header {
    background-color: #888;
    padding: 3px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

nav li {
    background-color: #aaa;
    padding: 8px;
}

nav li a {
    color: #fff;
    display: block;
}

nav li:hover,
nav li:active {
    background-color: #555;
}

nav li.active {
    background-color: #555;
}

/* LISTS  */

.lists {
    display: flex;
    justify-content: center;
}

/* USER LIST  */

.user-list-container {
    width: 70%;
    margin: 2rem;
    overflow-y: auto;
    max-height: 70vh;
    max-width: 30vw;
    border: 1px solid #000;
}

.user-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-name {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.user-name:hover {
    background-color: #f0f0f0;
}

/* EXERCICES  */

/* PROGRAM LIST  */

.program-list-container {
    width: 70%;
    margin: 2rem;
    overflow-y: auto;
    max-height: 30vh;
    max-width: 30vw;
    border: 1px solid #000;
}

.program-list {
    padding: 0;
    margin: 0;
}

.program-name {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.program-name:hover {
    background-color: #f0f0f0;
}

/* WORKOUT LIST  */

.workout-list-container {
    width: 70%;
    margin: 2rem;
    overflow-y: auto;
    max-height: 30vh;
    max-width: 30vw;
    border: 1px solid #000;
}

.workout-list {
    padding: 0;
    margin: 0;
}
